@using CashModel
@using CashUI
@inject ITableService TableService
@inject IModalService ModalService


<h2>Create Table</h2>
<hr />
<div class="simple-form">

    <div class="form-group">
        <label for="name-field">Number</label>
        <input @bind="@table.TableNumber" type="text" id="name-field" />
    </div>


    <button class="btn  btn-primary shadow-sm checkout-button m-1" @onclick="ConfirmClose">Submit</button>
    <button class="btn  btn-primary shadow-sm checkout-button m-1" @onclick="CancelClose">Cancel</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    Table table = new Table();


    int LatestId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        table.TableNumber = 0;
    }

    public async Task ConfirmClose()
    {
        if(table.TableNumber != 0)
        {
            table.status = Table.Status.Open;
            await TableService.CreateTable(table);


            BlazoredModal.Close();
        }


    }
    public void CancelClose()
    {
        BlazoredModal.Cancel();

    }
}