@inject IModalService ModalService
@inject IOrderService OrderService
@inject IOrderitemService OrderitemService
@inject ITableService TableService
@inject IToastService ToastService
@inject IOperationService OperationService
@inject IOptionOrderlineService OptionOrderlineService
<div style="height:400px !important; overflow:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Prijs</th>
                <th>Q</th>
                <th>Totaal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item1 in orderItems)
            {

            <tr>
                <td>@item1.Product.Name</td>
                <td>€@item1.Product.Price</td>
                <td>@item1.Quantity</td>
                <td>€@item1.TotalPrice</td>
                <td class="order-line" @onclick="(() => ShowOptions(item1))">options</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<p>Totaal: €@TotalPrice</p>

<button class="btn  btn-primary shadow-sm checkout-button m-1" @onclick="(() => Checkout())">Submit</button>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public List<OrderItem> orderItems { get; set; }

    Operation operation = new Operation();

    public int LatestOrderId { get; set; }
    public int LatestOrderItemId { get; set; }
    public double TotalPrice { get; set; }

    protected override async Task OnInitializedAsync()
    {

        IEnumerable<Order> orders;
        IEnumerable<OrderItem> orderItems1;

        foreach (var item in orderItems)
        {
            TotalPrice += Math.Round(item.TotalPrice, 2);
        }

        orders = await OrderService.GetOrders();
        orderItems1 = await OrderitemService.GetOrderitems();

        if (!orders.Any())
        {
            LatestOrderId = 1;
        }
        else
        {
            LatestOrderId = orders.Last().Id + 1;
        }

        if (!orderItems1.Any())
        {
            LatestOrderItemId = 1;
        }
        else
        {
            LatestOrderItemId = orderItems1.Last().Id + 1;
            Console.WriteLine(LatestOrderItemId);
        }



    }
    public void ShowOptions(OrderItem orderitem)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OrderlineOptions.options), orderitem.Options);
        var optionsModal = ModalService.Show<OrderlineOptions>("Selected Options", parameters);
    }
    public async Task Checkout()
    {
        Order order = new Order();
        order.TableId = Table.CurrentTable;
        foreach (var item in orderItems)
        {
            order.TotalPrice += item.TotalPrice;
        }
        await OrderService.CreateOrder(order);


        foreach (var item in orderItems)
        {
            item.OrderId = LatestOrderId;
            item.ProductId = item.Product.Id;

            await OrderitemService.CreateOrderitem(item);
        }
        foreach (var item in orderItems)
        {
            if (item.Options.Any())
            {

                foreach(var item1 in item.Options)
                {
                    OptionOrderline optionOrderline = new OptionOrderline();
                    optionOrderline.OptionId = item1.Id;
                    optionOrderline.OrderlineId = LatestOrderItemId;
                    await OptionOrderlineService.CreateOptionOrderline(optionOrderline);


                }


            }
            LatestOrderItemId++;
        }

        IEnumerable<Table> tables = await TableService.GetTables();
        foreach (var item in tables)
        {
            if(item.Id == Table.CurrentTable)
            {
                item.status = Table.Status.Open;
                await TableService.EditTable(item.Id, item);
            }
        }
        Table.isTaken = false;

        operation.UserId = User.CurrentId;
        operation.Description = User.CurrentUsername + " has checked out order #" + LatestOrderId;
        await OperationService.CreateOperation(operation);
        orderItems.Clear();
        BlazoredModal.Close(ModalResult.Ok(orderItems));
        ToastService.ShowToast(ToastLevel.Success, "Order complete");

    }
}
