
    <div class="d-flex flex-column">
        <ProductTable></ProductTable>
        <UserTable></UserTable>
        <TableTable></TableTable>

         <ConfigProductSwap></ConfigProductSwap>
        


    </div>
        @code {

        }
