
    <div class="d-flex flex-column">
        <ProductTable></ProductTable>
        <CategoryTable></CategoryTable>
        <TableTable></TableTable>
         <ConfigProductSwap></ConfigProductSwap>
        <OrderHistory></OrderHistory>
        


    </div>
        @code {

        }
