@inject IModalService ModalService
@inject IToastService ToastService
@inject IProductService ProductService


<div class="modal-content">
    <div class="modal-body">
        <p>Weet je zeker dat je dit product wilt verwijderen?</p>
    </div>
    <div class="modal-footer">
        <button class="btn  btn-primary shadow-sm checkout-button m-1" @onclick="ConfirmClose">Submit</button>
        <button class="btn  btn-primary shadow-sm checkout-button m-1" @onclick="CancelClose">Cancel</button>
    </div>
</div>




@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public int Id { get; set; }
    bool Confirm;


    protected override async Task OnInitializedAsync()
    {
    }

    public async Task ConfirmClose()
    {
        await ProductService.DeleteProduct(Id);

        BlazoredModal.Close();

    }
    public void CancelClose()
    {


        BlazoredModal.Cancel();

    }

}
