@inject IModalService ModalService
@inject ICategoryService CategoryService
@inject IToastService ToastService
    <div class="simple-form">
        <div class="form-group">
            <label for="name-field">Name</label>
            <input @bind="@category.CategoryName" type="text" id="name-field" />
        </div>

        <div class="form-group">
            <label for="price-field">Color</label>
            <input @bind="@category.Color" type="text" id="price-field" />
        </div>




        <button class="btn  btn-primary shadow-sm checkout-button m-1" @onclick="ConfirmClose">Submit</button>
        <button class="btn  btn-primary shadow-sm checkout-button m-1" @onclick="CancelClose">Cancel</button>
    </div>
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public int Id { get; set; }

    Category category = new Category();



    protected override async Task OnInitializedAsync()
    {
        category = await CategoryService.SingleCategory(Id);

    }
    public async Task ConfirmClose()
    {

        await CategoryService.EditCategory(Id, category);

        BlazoredModal.Close();

    }
    public void CancelClose()
    {


        BlazoredModal.Cancel();

    }

}
