
@if (!options.Any())
{
<p>No options added for selected product(s)</p>
}
else
{
<div id="order-option-container">
    <table class="table">
        <thead>
            <tr>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in options)
            {
                <tr>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}


@code {

    [Parameter] public List<Option> options { get; set; }



}
