@if (orderItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Prijs</th>   
            </tr>
        </thead>
        <tbody>
            @foreach (var item1 in orderItems)
            {
                <tr>
                    <td>@item1.Name</td>
                    <td>@item1.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    [Parameter]
    public List<Product> orderItems { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        //for (int i = 0; i < orderItems.Count; i++)
        //{
        //    Console.WriteLine(orderItems[i].Price);
        //}
    }

}
