@inject IProductService ProductService
@inject ICategoryService CategoryService
@inject ITableService TableService
@inject IModalService ModalService
@inject IToastService ToastService
@inject IOperationService OperationService



<div class="">
    <div class="product-container">


        @if (products == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var item in products)
            {

                <p class="product-button rounded shadow-sm" style="background-color:@item.Color; color:@item.textColor;" @onclick="(() => showName(item))">
                    @item.Name
                </p>

            }
        }
    </div>

</div>

@code {
    [Parameter]
    public int Id { get; set; }
    Operation operation = new Operation();

    public Product SelectedProduct { get; set; }

    bool TableIsTaken = false;

    public OrderItem orderItems = new OrderItem();

    [Parameter] public EventCallback<OrderItem> OnListChanged { get; set; }

    IEnumerable<Product> products;
    Category category;

    protected override async Task OnParametersSetAsync()
    {

        products = await ProductService.GetProductsByCategory(Id);


        foreach (var item in products)
        {
            category = await CategoryService.SingleCategory(item.CategoryId);

            item.Color = category.Color;
        }

    }

    public async Task showName(Product product)
    {
        IEnumerable<Table> tables = await TableService.GetTables();
        foreach (var item in tables)
        {
            if (item.status == Table.Status.Taken)
            {
                Table.isTaken = true;
                Table.CurrentTable = item.Id;
            }
        }


        if (Table.isTaken == true)
        {


            var parameters = new ModalParameters();
            parameters.Add(nameof(ProductModal.ProductId), product.Id);
            var productModal = ModalService.Show<ProductModal>("Add product", parameters);
            var result = await productModal.Result;

            if (result.Cancelled)
            {
                ToastService.ShowToast(ToastLevel.Info, "Action Cancelled");
            }
            else
            {
                operation.UserId = User.CurrentId;
                operation.Description = User.CurrentUsername + " has added " + product.Name + " to order";

                OrderItem SubmittedItem = (OrderItem)result.Data;
                SubmittedItem.TotalPrice = Math.Round(SubmittedItem.TotalPrice, 2);
                //orderItems.Add(SubmittedItem);
                OnListChanged.InvokeAsync(SubmittedItem);
                SendOperation();
            }
        }
        else
        {
            ToastService.ShowToast(ToastLevel.Info, "Select a table before adding products to order");
        }


    }

    public void OrderSubmit(OrderItem orderItem)
    {
        
        OnListChanged.InvokeAsync(orderItem);
    }
    protected async Task SendOperation()
    {
        await OperationService.CreateOperation(operation);
    }
}




