@using WebAppCash.CashModel
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject IJSRuntime JsRuntime

    <DxTabs>


        @if (categories == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var category in categories)

            {



                    <DxTab  Text="@category.CategoryName"></DxTab>


            }
        }
    </DxTabs>




@code{

    IEnumerable<Category> categories;
    IEnumerable<Product> products;
    public int id;
    public int amountClicked;

    [Parameter]
    public int index { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }


    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetCategories();

    }



}
