@using CashModel
@using CashUI
@inject IProductService ProductService
@page "/configuration"

@if (User.IsloggedIn)
{
    <div class="d-flex flex-row">
        <ConfigNav></ConfigNav>
        <ConfigContent></ConfigContent>
    </div>
}
else
{
    <p>user not logged in</p>
}


@code {






}
