@inherits LayoutComponentBase
@using CashUI
@using CashModel


@if (User.IsloggedIn)
         {
    <TopBar></TopBar>
}
<div class="main d-flex">
    @if (User.IsloggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredModal />
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomCenter"
                Timeout="2" />
