@using CashModel
@using CashUI
<div id="navbar" class="shadow-sm row">
    <div class="col-1">
        <img class="" id="top-bar-logo" src="/Images/nieuwHaanItLogo.png" alt="DeHaanLogo">
    </div>
    <h3 id="app-name" class="col-1">Cash 2.0</h3>
    <h4 id="username" class="col-1 offset-md-8">Welcome, @User.CurrentUsername</h4>
</div>

@code {

}
