@using CashModel
@using CashUI
<div id="navbar" class="shadow-lg row">
    <img class="col-1" id="top-bar-logo" src="/Images/nieuwHaanItLogo.png" alt="DeHaanLogo">
    <h3 id="app-name" class="col-2">Cash 2.0</h3>
    <div id="vl" class="offset-md-7"></div>
    <h4 id="username" class="">Welcome, @User.CurrentUsername</h4>
</div>

@code {

}
